jenkins/src/main/mule/jenkins.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7ec977fd-ae0b-4d9a-a64b-13c054491c93" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinsFlow" doc:id="eb415b48-4a4d-42a1-a8d4-10eb6aaf7545" >
		<http:listener doc:name="Listener" doc:id="f33eb5a5-dcb6-464f-80cf-e85e31555cf7" config-ref="HTTP_Listener_config" path="/jenkins"/>
		<set-payload value='#["hello world!!!"]' doc:name="Set Payload" doc:id="13baaa02-6896-4f88-94bf-50ea6c71d09a" />
		<logger level="INFO" doc:name="Logger" doc:id="d9d8112a-9e0b-467f-8660-f7921651384f" message="#[paylaod]"/>
	</flow>
</mule>
